<div id="<%= dom_id task %>">
  <p>
    <strong>Content:</strong>
    <%= task.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Satus:</strong>
    <%= task.satus %>
  </p>

</div>
